* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

#calculator {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-container {
    height: 600px;
    width: 400px;
    background-color: gray;
    border: 1px solid darkgray;
    border-radius: 10px;
}

.display {
    height: 80px;
    text-align: right;
}

button {
    height: 80px;
    width: 80px;
}
